In [9]:
import mysql.connector

In [10]:
db = mysql.connector.connect(
  host="localhost",
  user="sumayyah",
  password="afridi24.",
  database="Star"
)

In [11]:
c= db.cursor()

## WHERE

In [ ]:
# df2=df[df['Marks']=>60]  "  "

In [14]:
sql = "SELECT * FROM Users WHERE Passcode ='123456'"  # * means all rows

c.execute(sql)

r = c.fetchall()

for x in r:
  print(x)

(1, 'sumayyah afridi', '123456')

## LIKE

In [24]:
sql = "SELECT * FROM Users WHERE Passcode LIKE '%5%'"

c.execute(sql)

r = c.fetchall()

for x in r:
  print(x)

(1, 'sumayyah afridi', '123456')
(4, 'sam', '12345')

### ORDER BY

In [25]:
# asc 1234....   abc......z

In [ ]:
# desc 9876..1   z....a

In [28]:
sql = "SELECT * FROM Users ORDER BY Username"

c.execute(sql)

m = c.fetchall()

for x in m:
  print(x)

(3, 'sam', '123')
(4, 'sam', '12345')
(1, 'sumayyah afridi', '123456')

In [27]:
sql = "SELECT * FROM Users ORDER BY Username desc"

c.execute(sql)

m = c.fetchall()

for x in m:
  print(x)

(1, 'sumayyah afridi', '123456')
(3, 'sam', '123')
(4, 'sam', '12345')