In [1]:
import mysql.connector

In [2]:
db=mysql.connector.connect(
    host='localhost',
    user='sumayyah',
    password='afridi24.'
    )

In [3]:
c=db.cursor()

In [4]:
c.execute('SHOW DATABASES')

In [5]:
c

In [6]:
for x in c:
    print(x)

('MIS',)
('Star',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [7]:
db=mysql.connector.connect(
    host='localhost',
    user='sumayyah',
    password='afridi24.',
    database='MIS'
    )

In [8]:
c=db.cursor()

c.execute("SHOW TABLES")

In [9]:
for x in c:
    print(x)

('Employees',)
('Products',)

In [13]:
c.execute("SELECT * FROM Products")

In [12]:
m = c.fetchall()

for x in m:
  print(x)