In [1]:
import mysql.connector

In [2]:
db = mysql.connector.connect(
  host="localhost",
  user="sumayyah",
  password="afridi24."
)

## QUERIES

In [24]:
c=db.cursor()

c.execute("USE Star")

In [25]:
c.execute("SELECT DATABASE()")

In [26]:
for i in c:
    print(i)

('Star',)

In [27]:
c.execute("SHOW TABLES")

In [28]:
for i in c:
    print(i)

('Flights',)
('Users',)

In [29]:
c.execute("SHOW COLUMNS FROM Users")

In [30]:
for i in c:
    print(i)

('Id', b'int', 'NO', 'PRI', None, '')
('Username', b'varchar(255)', 'NO', '', None, '')
('Passcode', b'varchar(255)', 'NO', '', None, '')

##### previous query can be written as following

In [31]:
c.execute("DESC Users")

In [32]:
for i in c:
    print(i)

('Id', b'int', 'NO', 'PRI', None, '')
('Username', b'varchar(255)', 'NO', '', None, '')
('Passcode', b'varchar(255)', 'NO', '', None, '')

### create a databse for flights

### create two cloumns (flight_id, flight_name)

### Insert 4 or 5 data items into table flights

### display all rows

In [34]:
c.execute("SELECT * FROM Flights")

### display flight_name only