In [1]:
import mysql.connector

In [2]:
db=mysql.connector.connect(
    host='localhost',
    user='sumayyah',
    password='afridi24.'
    )

In [3]:
c=db.cursor()

In [7]:
c.execute('CREATE DATABASE Cafe')

In [8]:
c.execute('SHOW DATABASES')

In [9]:
for x in c:
    print(x)

('Cafe',)
('MIS',)
('School',)
('Star',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [10]:
db=mysql.connector.connect(
    host='localhost',
    user='sumayyah',
    password='afridi24.',
    database='Cafe'
    )

In [11]:
c=db.cursor()

### CREATE TABLE

In [12]:
c.execute("CREATE TABLE Customer (name VARCHAR(255), item VARCHAR(255))")

In [13]:
c.execute("SHOW TABLES")

In [14]:
for x in c:
    print(x)

('Customer',)

### INSERT INTO

In [19]:
sql = "INSERT INTO Customer (name, item) VALUES (%s, %s)"
val = ("Hira", "Salad")

c.execute(sql, val)

db.commit()

print(c.rowcount, "record inserted.")

1 record inserted.

### SELECT

In [20]:
c.execute("SELECT * FROM Customer")

In [21]:
myresult = c.fetchall()

for x in myresult:
  print(x)

('Hira', 'Salad')
('Hira', 'Salad')
('Hira', 'Salad')