In [2]:
x='Pakistan'

for i in x:
    print(i)

P
a
k
i
s
t
a
n

In [3]:
x=[1,2,3,4,5]

for i in x:
    print(i)

1
2
3
4
5

In [ ]:
a=df[df['score']>60]

In [ ]:
map(function, iterator)

In [12]:
def add(a,b):
    return a+b

In [18]:
def add():
    a=2
    b=3
    return a+b

In [19]:
add()

5

In [16]:
add(13,40000)

40013

In [21]:
def subt(a,b,c):
    return a-b-c

In [25]:
subt(2,3,5)

-6

In [1]:
def myfunc(a, b,c):
  return a + b+c

x = map(myfunc, ('a+', 'b+', 'c+'), ('orange', 'lemon', 'pineapple'), ('orange', 'lemon', 'pineapple'))

In [2]:
print(list(x))

['a+orangeorange', 'b+lemonlemon', 'c+pineapplepineapple']

In [37]:
def addition(a,b):
    return a + b
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
numbers2 = (2, 2, 3, 4)
result = map(addition, (numbers), (numbers2))
print(list(result))

[3, 4, 6, 8]

In [38]:
def sub(a,b):
    return a - b
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
numbers2 = (2, 2, 3, 4)
result = map(sub, (numbers), (numbers2))
print(list(result))

[-1, 0, 0, 0]

In [39]:
def mul(a,b):
    return a * b
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
numbers2 = (2, 2, 3, 4)
result = map(mul, (numbers), (numbers2))
print(list(result))

[2, 4, 9, 16]

### map(function, data)

In [40]:
def div(a,b):
    return a / b
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
numbers2 = (2, 2, 3, 4)
result = map(div, (numbers), (numbers2))
print(list(result))

[0.5, 1.0, 1.0, 1.0]

In [31]:
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
numbers2 = (2, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [7]:
print(result)

<map object at 0x7fb3a005e7f0>

In [19]:
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [21]:
l = ['sat', 'bat', 'cat', 'mat']
  
# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [22]:
list(map(pow, (2, 4), (7, 3)))

[128, 64]

####  n! 7! 7x6x5x4x3x2x1

#### 3! 3x2x1=6

#### 6!  6x5x4x3x2x1=

In [23]:
import math   

numbers = [1, 2, 3, 4, 5, 6, 7]

list(map(math.factorial, numbers))

[1, 2, 6, 24, 120, 720, 5040]

In [42]:
2**2  #2x2=4

4

In [45]:
2**3 #2x2x2=8

8

In [46]:
def powers(x):
    return x ** 2, x ** 3

numbers = [1, 2, 3, 4]

list(map(powers, numbers))

[(1, 1), (4, 8), (9, 27), (16, 64)]

In [25]:
def to_fahrenheit(c):
    return 9 / 5 * c + 32

celsius_temps = [100, 40, 80]

list(map(to_fahrenheit, celsius_temps))

[212.0, 104.0, 176.0]

In [34]:
def pow(x,y):
    return x**y

l1=[1,2,3]
l2=[1,2,3]
list(map(pow,(l1),(l2)))

[1, 4, 27]